/* ====================================
==============  Overall  ==============
==================================== */

html{
  scroll-behavior: smooth;
}

body, .list-group-item {
  background-color: rgb(231, 242, 252);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info-text {
  text-align: justify;
}

/* ====================================
===============   Nav  ================
==================================== */

.profile-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 3px green solid;
  transition: ease-in .3s;
}

.hidden-on-arrival {
  transition: ease-in .3s;
  display: none;
}

.profile-image:hover{
  transform: 
    rotate(5deg)
    scale(1.05);
}

.profile-name {
  font-family: 'Galada', cursive;
  font-size: 36px;
  position: relative;
  top: 4px;
}

.profile-subtitle {
  font-size: 13px;
  position: relative;
  top: -5px;
}

.anchor-correction{
  height: 86px;
}

.scrolled {
  background-color: rgb(24, 10, 75);
  transition: background-color 200ms ease-in;
}

nav {
  background-color: rgb(24, 10, 75);
}

@media (min-width: 576px) { 
  nav {
    background-color: transparent;
  }
}

/* ====================================
===============  SVG  =================
==================================== */
svg {
    width: 70px;
    height: 70px;
    fill: black;
    margin: 1em;
}

 /* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 
  svg {
    width: 70px;
    height: 70px; 
  }
} */

a:hover {
    text-decoration: none;
}

/* .social_container {
  padding: 2em;
} */

.social_github:hover path {
  fill: #800080;
}

.social_youtube:hover path {
  fill: #FF0000;
}

.social_treehouse:hover path {
  fill: #62D080;
}

.social_twitter:hover path {
  fill: #00acee;
}

.social_linkedin:hover path {
  fill: #0e76a8;
}

path {
  transition: ease-in .1s;
}

/* ====================================
=============  BG Images  =============
==================================== */

.title-text {
    background-image: url(images/zach/zach_main.jpg);
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 12px black;
}

.middle-image{
  background-image: url(images/zach/zach_dark_mobile.jpeg);
  background-position: center;
  height: 60vh;
}

.farewell_img {
  width: 50%;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.0s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 576px) { 

  .farewell_img {
    width: 30%;
  }

  .title-text {
    background-image: url(images/zach/zach_main.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .middle-image {
    background-image: url(images/zach/zach_dark.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.farewell_img:hover{
  transform: 
    rotate(0deg)
    scale(1.1);
}

 /* ====================================
 ===============  Cards  ===============
 ==================================== */

.card {
    /* width: 580px; */
    height: 100%;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  .card:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .card:hover:before {
    opacity: 1;
  }
  .card:hover .info {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
  }
  .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .card .info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .card .info h5 {
    margin: 0px;
  }
  .card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  .card .info a {
    width: 45%;
    text-align: center;
    padding: 0.6rem;
    /* margin-top: auto; */
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .card .info a:hover {
    background: dodgerblue;
    color: white;
  }
